{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <br />
        <div
          class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
          role="alert"
        >
          Não foi possível inativar a empresa: "{{empresa.nome}}", pois ela
          possui os seguintes equipamentos cadastrados:
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>TAG:</th>
              <th>Tipo:</th>
              <th>Situação:</th>
              <th scope="col" style="width: 50px">Status:</th>
            </tr>
          </thead>
          <tbody>
            {% for equipamento in equipamentos %}
            <tr>
              <td><a href="#">{{equipamento.tag_patrimonio}}</a></td>
              <td>{{equipamento.tipo_equipamento}}</td>
              <td>{{equipamento.get_situacao_display}}</td>
              <td style="center">
                {% if equipamento.status == True %}
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckCheckedDisabled"
                    checked=""
                    disabled=""
                  />
                  <label
                    class="form-check-label"
                    for="flexSwitchCheckCheckedDisabled"
                    ><b></b
                  ></label>
                </div>
                {% elif equipamento.status == False %}
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDisabled"
                    disabled=""
                  />
                  <label
                    class="form-check-label"
                    for="flexSwitchCheckDisabled"
                  ></label>
                </div>
                {% endif %}
              </td>

              <td>
                <tr>
                  {% endfor %}
                </tr>
              </td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-secondary" href="{% url 'listar_empresas' %}">
          <i class="bi bi-box-arrow-right"></i>
          <span>Voltar</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
